.box {
    border: 1px solid gray; /* Рамка вокруг блока толщиной 1 пиксель, серого цвета */
    border-radius: 10px; /* Углы блока будут слегка закруглены (10 пикселей) */
    max-width: 500px; /* Блок не будет шире 500 пикселей */
    margin: auto; /* Блок будет центрирован на странице по горизонтали */
    padding: 15px; /* Пространство между содержимым блока и его рамкой */
}

.btn {
    border: 1px solid gray; /* Рамка вокруг кнопки толщиной 1 пиксель, серого цвета */
    border-radius: 5px; /* Углы кнопки будут слегка закруглены (5 пикселей) */
    width: 100%; /* Кнопка будет занимать всю доступную ширину */
    padding: 10px; /* Пространство между текстом кнопки и её рамкой */
    margin-top: 5px; /* Пространство сверху между кнопками */
}

.contentBox {
    padding: 10px; /* Пространство между содержимым и рамкой блока с контентом */
    border: 1px solid grey; /* Рамка вокруг блока с контентом толщиной 1 пиксель, серого цвета */
    margin: 5px; /* Пространство вокруг всего блока с контентом */
    border-radius: 5px; /* Углы блока с контентом будут слегка закруглены (5 пикселей) */
    text-align: left; /* Текст в блоке будет выравниваться по левому краю */
}

.input {
    padding: 10px; /* Пространство между содержимым и рамкой текстового поля */
    border: 1px solid grey; /* Рамка вокруг текстового поля толщиной 1 пиксель, серого цвета */
    margin: 5px; /* Пространство вокруг всего текстового поля */
    border-radius: 5px; /* Углы текстового поля будут слегка закруглены (5 пикселей) */
    text-align: left; /* Текст в текстовом поле будет выравниваться по левому краю */
    width: 50%; /* Текстовое поле будет занимать половину доступной ширины */
}

.inputBox {
    display: flex; /* Элементы внутри контейнера будут выстраиваться в ряд */
    
}

.textarea {
    padding: 10px; /* Пространство между содержимым и рамкой текстовой области */
    border: 1px solid grey; /* Рамка вокруг текстовой области толщиной 1 пиксель, серого цвета */
    margin: 5px; /* Пространство вокруг всей текстовой области */
    border-radius: 5px; /* Углы текстовой области будут слегка закруглены (5 пикселей) */
    text-align: left; /* Текст в текстовой области будет выравниваться по левому краю */
    width: calc(100% - 30px); /* Текстовая область будет занимать всю доступную ширину минус 30 пикселей */
}
